/*Estilos del header de index*/
header{
    display: flex;
    height: 70px;
    background-color: #fef8f9;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
}
/*En el header, estilos para el logo, títulos y links(a) -->  Login,Registro,Busca tu cita*/
.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
    
}



.titulo-cita {
    flex-grow: 1; 
    text-align: center; 
    font-size: 18px; 
    margin: 0; 
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    
}

nav a:hover {
    background-color: #d3d3d3;
    border-radius: 5px;
}
/* Modificar elementos cuando la página se hace más pequeña --> @media (max-width: --px)*/
@media (max-width: 700px) {
    
    header {
        flex-direction: row; 
    }

    .logo img {
        height: 50px; 
        margin-right: 10px; 
    }

    nav {
        flex-direction: row;
    }

    nav a {
        padding: 8px 10px; 
        text-align: left; 
    }
    .titulo-cita {
        font-size: 16px;
    }
}

main {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  height: 100vh;           
  background-color: #f3e5f5; 
  margin: 0;
}

/*Para que el color se vea entero sin márgenes, que se ajuste a la pantalla*/
body{
    margin: 0;
}
footer {
    background-color: #fef8f9;
    color: black;
    text-align: center;
    padding: 10px 0;

    /*responsive*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
  width: 200px;
  padding: 15px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#botonBuscar {
  background-color: #ff4f81;   
  color: white;
  font-size: 18px;            
  font-weight: bold;
}

#botonBuscar:hover {
  background-color: #e84393;   
}


#botonLogin, #botonRegistro {
  background-color: #d3d3d3;     color: #333333;             
}

#botonLogin:hover, #botonRegistro:hover {
  background-color: #bcbcbc;   
}
